body {
  margin: 0;
  padding: 0;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2874a6;
  height: 40px;
}
li {
  float: left;
}
li a {
  display: block;
}
.btn {
  background-color: transparent;
  outline: none;
  border: none;
}
