<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <ul>
    <li>
      <button class="btn"><i class="fa fa-bars"></i></button>
    </li>
    <li>My App</li>
    <li style="float:right"><button class="btn"><i class="fa fa-share-alt"></i></button></li>
    <li style="float:right"><a class="active" href="#about"><i class="fa fa-heart" style="color:white"></i></a></li>
  </ul>
  <pre style="margin-top:40px">hi 
    fs
    sd
    xcsd
    fdf
    
  </pre>
</body>

</html>